:root {
    --shadow-color: rgba(0, 157, 255, 0.1);
    --shadow-size: 10px;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    background-color: #f5f5f5;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    font-style: italic;
    color: rgb(255, 255, 255);
    position: absolute;
    top: 15%;
    left: -3%;
    transform: translate(-50%, 0);
    transition: .5s ease;
    opacity: 0;
}

.card:hover h1 {
    left: 50%;
    opacity: 1;
}

h2 {
    color: rgb(255, 255, 255);
    transition: .5s ease;
    position: absolute;
    top: -5%;
    left: 50%;
    opacity: 0;
    transform: translate3d(-50%, 0, 50px);
}

.card:hover h2 {
    top: 5%;
    opacity: 1;
}

h3 {
    font-style: italic;
    color: rgb(255, 255, 255);
    font-size: 1.8rem;
    position: absolute;
    top: 70%;
    right: -10%;
    opacity: 0;
    transform: translate(50%, 0);
    transition: .5s ease;
}

.card:hover h3 {
    right: 50%;
    opacity: 1;
}


@keyframes ani-1 {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0);
    }
}

button {    
    margin-top: 30px;
    padding: 15px;
    border: none;
    width: 130px;
    background-color: lightgreen;
    color: rgb(255, 255, 255);
    border-radius: 30px;
    position: relative;
    cursor: pointer;
    transform: translate(0, 50px);
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    bottom: -7%;
    left: 50%;
    transform: translate3d(-50%, 0, 110px);
}

.card {
    width: 300px;
    min-height: 350px;
    background: linear-gradient(to bottom, #a756ed, #5500ff, #54a9f3);
    box-shadow: 0 0 var(--shadow-size) var(--shadow-color);
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 15px;
    transition: .5s ease;
    transform-style: preserve-3d;
    /* animation: ani-1 1.5s ease infinite; */
    position: relative;
    margin: 0 10px;
}

.card:hover {
    --shadow-color: rgba(0, 183, 255, .7);
    --shadow-size: 20px;
}

.card:hover button {
    bottom: 7%;
    opacity: 1;
}

img {
    max-width: 300px;
    transition: .5s ease;
    margin: 50px;
    position: absolute;
}

.card:hover img {
    transform: rotate(-15deg) scale(1.2) translate3d(0, 0, 100px);
}